<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario psp</title>
    <link rel="stylesheet" href="../css/estilos_home.min.css">
</head>
<body>

<header id="main-header">
    <a id="logo-header" href="#">
        <span class="site-name">Inventario psp</span>
        <!--<span class="site-desc"></span>-->
    </a>

    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

<section id="main-content">
    <div class="content">

    </div>
</section>


<footer id="main-footer">
    <p>&copy; 2019 Gerldine Ramirez</p>
</footer>

</body>
</html>