<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Jcell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilos_home.min.css">
</head>
<body>

<header id="main-header">
    <a id="logo-header" href="home.html">
        <span class="site-name">Jcell</span>
        <span class="site-desc">Soluciones celulares</span>
    </a>

    <nav>
        <ul>
            <li><a href="home.html">Inicio</a></li>
            <li><a href="inventario.html">Inventario</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="../">Cerrar Sesion</a></li>
        </ul>
    </nav>
</header>

<section class="main-content">
    <div class="content">
hol mundo
    </div>
</section>

<footer id="main-footer">
    <p>&copy; 2019 Gerldine Ramirez</p>
</footer>

</body>
</html>